* {
    box-sizing: border-box;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 5px;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.gameboard-grid {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    cursor: pointer;
    user-select: none;
}

#player-info-container {
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 5px;
}

.info-display {
    border: 1px solid black;
    height: 145px;
    width: 300px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto-fill, 30px);
    padding: 5px;
}

.active {
    border: 3px solid red;
}

.info-display h3 {
    grid-column: 1;
}

.info-display p {
    grid-column: 1;
}

.info-display button {
    grid-column: 2;
}